
body {
    background-image: url(/images/wall.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.keypad {
    background-color: rgba(0,0,0,.8);
    width: 500px;
    position: relative;
    top: -800px;
    left: 320px;
    
}

.hint {
    height: 100px;
    position: absolute;
}

table {
    height: 500px;
    padding: 20px;
}

.btn {
    
    width: 50px;
    height: 50px;
    background-color: silver;
    color: darkslateblue;
    border-radius: 50%;
    font-size: 15pt;
}
.field {
    height: 50px;
    width: 90%;
    text-align: right;
    font-size: 20pt;
    font-family: 'alarmclock';
    background-color: rgba(0,0,0,.5);
    color: rgba(0,255,0,.5);
    
}

td {
    background-color: rgba(0,0,0,.7);
    border: 5px solid silver;
    padding: 0 25px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

@font-face {
    font-family: 'alarmclock';
    src: url('/fonts/alarmclock.ttf');
    font-weight: normal;
    font-style: normal;
}

.dog {
    animation: door 60s infinite;
    position: absolute;
    z-index: 999;
}

@keyframes door{
    0% {
        left: 0px;
    }
    100% {
        left: -9999px;
    }
    
    
}
